<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.dudtjq.test.ajax.dao.EmailDAO">
 	<select id="selectEmailList" resultType="com.dudtjq.test.ajax.model.Email">
 			SELECT 
				`id`
				,`name`
				, `url`
				, `createdAt`
				, `updatedAt`
			FROM
				`email`
 	
 	</select>	
 	
 	<select id="selectCountUrl" parameterType="string" resultType="int">
 		
 		SELECT
			count(1)
		FROM
			`email`
		WHERE
			`url` = #{url}
 	
 	</select>
 	
 	
 	<insert id="insertEmail" parameterType="com.dudtjq.test.ajax.model.Email">
 			INSERT INTO
			`email`
			(
				`name`
				, `url`
				, `createdAt`
				, `updatedAt`
			)
			VALUE
			(
				#{name}
				, #{url}
				, now()
				, now()
			
			)	
 	
 	
 	</insert>
 	
 	<delete id="deleteEmail" parameterType="int">
 	
 		DELETE
	 	
    		FROM `email`
    		
   		WHERE
   		 
   		 <![CDATA[
   		 
        	`id` = #{id}
        
        ]]>
 	
 	
 	
 	</delete>
 	
 	
  	
  </mapper>